.calendar {
  width: max(300px, 50vw);
}
.tile {
  border-radius: 50%;
  width: 20px;
  aspect-ratio: 1 / 1;
  margin: 5px;
  border: none;
}

.tile.react-calendar__tile--now {
  border: 2px dashed wheat;
}


.body {
  background-color: rebeccapurple;
}